{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>profile</title>
</head>
<body>
    <div class="card">
        <ol id ="listjson"></ol>
        <span>📋</span><a href="/profile">Back to My Profile</a>
    </div>
    <script src="../../static/js/main.js"></script>
    
</body>
    </html>
    
